/*base #2A96A6*/
/*lighter #3FCADD*/
/*light #61EAFD*/
/*darker #206C77*/
/*dark #152E32*/


/******Login View******/
.logincontainer{
  background-color: #206C77;
  height: 100vh;
}

.logincontainer .page-header{
  color: white;
}

.logincontainer .panel{
  margin-top: 50px;
}

.logincontainer .panel-footer{
  text-align:right;
}

.logincontainer .panelFooter:hover{
  text-decoration: underline;
  cursor: pointer;
}





/******ChatView******/

/* Chatheader */
.chatviewheader{
  background-color: #206C77;
  color: white;
  height: 75px;
  padding-top: 20px;
}

.chatviewheader div.chatviewtitle{
  font-size: 24px;
  float:left;
}

.chatviewheader div.chatviewlogout{
  text-align: right;
}

.chatviewheader div.chatviewlogout a{
  color: white;
}


/* Chat */

.chatcontainer{
  padding-top: 50px;
  background-color: #DDDDDD;
  height: 100vh;
}

.chatcontainer .messagepanel{
  height: 400px;
  overflow: scroll;
}

/* Message */
.panel.messageitem{
  border: 1px solid #ddd;
}

.messageitem .messagetime {
  float: right;
}

.panel.messageitem.usersMessage {
  background-color: #61EAFD;
}

/* Messageinput */
.messageinput #newmessageinput{
  width: 90%;
}

/******Logout View******/
.logoutcontainer{
  background-color: #206C77;
  height: 100vh;
}

.logoutcontainer .panel{
  margin-top: 100px;
}

.logoutcontainer .panel-body{
  height: 200px;
  padding-top: 75px;
}

.logoutcontainer .panel-footer{
  text-align:right;
}

.logoutcontainer .panelFooter:hover{
  text-decoration: underline;
  cursor: pointer;
}
